<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 1 - Importation des librairies et chargement des fichiers</h2>
</div>

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.1 - Importation des librairies</h3>
</div>

In [1]:
#Importation de la librairie Pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.2 - Chargement des fichiers Excel</h3>
</div>

In [3]:
#Importation du fichier population.csv

Population = pd.read_csv('C:/Users/mariam.sissoko01/Desktop/DATA ANALYST/PROJET 11/Data/Population_2000_2018.csv')

#Importation du fichier aide alimentaire.csv
aide_alim = pd.read_csv('C:/Users/mariam.sissoko01/Desktop/DATA ANALYST/PROJET 11/Data/aide_alimentaire.csv')
#Importation du fichier pib.csv
pib=  pd.read_csv('C:/Users/mariam.sissoko01/Desktop/DATA ANALYST/PROJET 11/Data/PIB.csv')

#Importation du fichier disponibilité alimentaire 2017.csv
dispo_alim2017 = pd.read_csv('C:/Users/mariam.sissoko01/Desktop/DATA ANALYST/PROJET 11/DAN-P9-data/DisponibiliteAlimentaire_2017.csv')

#Importation du fichier FAOSTAT.csv
FAO = pd.read_csv('C:/Users/mariam.sissoko01/Desktop/DATA ANALYST/PROJET 11/Data/FAOSTAT_data_fr_3-3-2025.csv')

In [4]:
Population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN

In [5]:
aide_alim.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

In [7]:
aide_alim['Produit'].unique()

array(['Autres non-céréales', 'Blé et Farin', 'Céréales',
       'Fruits secs, total', 'Huiles végétales',
       'Légumineuses Sèches,Tot.', 'Non-céréales', 'Riz, total',
       'Sucre, total', 'Céréales Secondaires', 'Lait, total',
       'Mélanges et préparations', 'Poiss&produi', 'BulgurFarEnt',
       'Viande Total', 'Graisses Com'], dtype=object)

In [12]:
pib.head()

,Code Domaine,Domaine,Code zone (M49),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,4,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2002,2002,Int$/cap,1806.2,X,Ciffre de sources internationales,NaN
1,FS,Données de la sécurité alimentaire,4,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2003,2003,Int$/cap,1823.0,X,Ciffre de sources internationales,NaN
2,FS,Données de la sécurité alimentaire,4,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2004,2004,Int$/cap,1777.5,X,Ciffre de sources internationales,NaN
3,FS,Données de la sécurité alimentaire,4,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2005,2005,Int$/cap,1907.6,X,Ciffre de sources internationales,NaN
4,FS,Données de la sécurité alimentaire,4,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2006,2006,Int$/cap,1928.3,X,Ciffre de sources internationales,NaN

In [14]:
dispo_alim2017.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.3 - Nettoyage des fichiers</h3>
</div>

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.3.1 - Nettoyage du fichier aide alimentaire</h3>
</div>

In [18]:
#Renommination du champ Pays beneficiaire en Zone
aide_alim = aide_alim[(aide_alim['Année'] == 2016)].groupby("Pays bénéficiaire").sum().reset_index()
aide_alim.rename(columns={"Pays bénéficiaire":"Zone","Valeur":"Aide alimentaire"}, inplace=True)
aide_alim.head()

,Zone,Année,Produit,Aide alimentaire
0,Algérie,16128,"CéréalesCéréales SecondairesFruits secs, total...",9476
1,Bhoutan,4032,Huiles végétalesNon-céréales,218
2,Burkina Faso,4032,"Fruits secs, totalNon-céréales",72
3,Bénin,4032,"Fruits secs, totalNon-céréales",144
4,Cameroun,4032,Huiles végétalesNon-céréales,578

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.3.2 - Nettoyage du fichier disponibilité alimentaire</h3>
</div>

In [21]:
dispo_alim2017['Élément'].unique()

array(['Production', 'Importations - Quantité', 'Variation de stock',
       'Exportations - Quantité', 'Disponibilité intérieure',
       'Aliments pour animaux', 'Semences', 'Pertes', 'Résidus',
       'Nourriture',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Traitement', 'Autres utilisations (non alimentaire)',
       'Alimentation pour touristes'], dtype=object)

In [23]:
dispo_alim2017['Produit'].unique()

array(['Blé et produits', 'Riz et produits', 'Orge et produits',
       'Maïs et produits', 'Seigle et produits', 'Avoine',
       'Millet et produits', 'Sorgho et produits', 'Céréales, Autres',
       'Pommes de Terre et produits', 'Ignames', 'Racines nda',
       'Sucre, canne', 'Sucre, betterave', 'Sucre Eq Brut',
       'Edulcorants Autres', 'Miel', 'Haricots', 'Pois',
       'Légumineuses Autres et produits', 'Noix et produits', 'Soja',
       'Arachides Decortiquees', 'Graines de tournesol',
       'Graines Colza/Moutarde', 'Graines de coton', 'Coco (Incl Coprah)',
       'Sésame', 'Olives', 'Plantes Oleiferes, Autre', 'Huile de Soja',
       "Huile d'Arachide", 'Huile de Tournesol',
       'Huile de Colza&Moutarde', 'Huile Graines de Coton',
       'Huile de Palmistes', 'Huile de Palme', 'Huile de Coco',
       'Huile de Sésame', "Huile d'Olive", 'Huile de Son de Riz',
       'Huile de Germe de Maïs', 'Huil Plantes Oleif Autr',
       'Tomates et produits', 'Oignons', 'Légumes, Autres',
       'Oranges, Mandarines', 'Citrons & Limes et produits',
       'Pamplemousse et produits', 'Agrumes, Autres', 'Bananes',
       'Pommes et produits', 'Ananas et produits', 'Dattes', 'Raisin',
       'Fruits, Autres', 'Café et produits', 'Feve de Cacao et produits',
       'Thé', 'Poivre', 'Piments', 'Girofles', 'Épices, Autres', 'Vin',
       'Bière', 'Boissons Fermentés', 'Boissons Alcooliques',
       'Alcool, non Comestible', 'Viande de Bovins',
       "Viande d'Ovins/Caprins", 'Viande de Suides',
       'Viande de Volailles', 'Viande, Autre', 'Abats Comestible',
       'Beurre, Ghee', 'Crème', 'Graisses Animales Crue', 'Oeufs',
       'Lait - Excl Beurre', 'Poissons Eau Douce',
       'Aliments pour enfants', 'Miscellanees', 'Manioc et produits',
       'Patates douces', 'Palmistes', 'Bananes plantains',
       'Huiles de Poissons', 'Huiles de Foie de Poisso', 'Perciform',
       'Poissons Pelagiques', 'Poissons Marins, Autres', 'Crustacés',
       'Cephalopodes', 'Mollusques, Autres', 'Animaux Aquatiques Autre',
       'Plantes Aquatiques', 'Sucre non centrifugé',
       'Viande de Anim Aquatiq'], dtype=object)

In [25]:
df_volaille=dispo_alim2017[dispo_alim2017['Produit']=='Viande de Volailles']
df_volaille.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
651,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2734,Viande de Volailles,2017,2017,Milliers de tonnes,28.0,S,Données standardisées
652,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2734,Viande de Volailles,2017,2017,Milliers de tonnes,29.0,S,Données standardisées
653,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2734,Viande de Volailles,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
654,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2734,Viande de Volailles,2017,2017,Milliers de tonnes,57.0,S,Données standardisées
655,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5123,Pertes,2734,Viande de Volailles,2017,2017,Milliers de tonnes,2.0,S,Données standardisées

In [27]:
df_pivot = df_volaille.pivot(index=['Zone','Année'],columns=['Élément'],values='Valeur').fillna(0).reset_index()
df_pivot.head()

Élément,Zone,Année,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
0,Afghanistan,2017,0.0,0.0,0.0,5.0,1.53,0.33,0.54,57.0,0.0,29.0,55.0,2.0,28.0,0.0,0.0,0.0,0.0
1,Afrique du Sud,2017,0.0,0.0,0.0,143.0,35.69,9.25,14.11,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,0.0,0.0,-0.0
2,Albanie,2017,0.0,0.0,0.0,85.0,16.36,6.45,6.26,47.0,0.0,38.0,47.0,0.0,13.0,0.0,0.0,0.0,4.0
3,Algérie,2017,0.0,0.0,0.0,22.0,6.38,1.50,1.97,277.0,0.0,2.0,264.0,13.0,275.0,0.0,0.0,0.0,0.0
4,Allemagne,2017,0.0,0.0,0.0,71.0,19.47,4.16,7.96,1739.0,646.0,842.0,1609.0,0.0,1514.0,-38.0,0.0,167.0,-29.0

In [29]:
# Liste des colonnes à convertir
a_convertir = ['Disponibilité intérieure', 'Exportations - Quantité', 'Importations - Quantité', 'Nourriture', 'Production']

# Vérifier que les colonnes existent dans le DataFrame
colonnes_existantes = [c for c in a_convertir if c in df_pivot.columns]

# Appliquer la conversion uniquement aux colonnes existantes et numériques
for c in colonnes_existantes:
    if pd.api.types.is_numeric_dtype(df_pivot[c]):  # Vérifier que la colonne est numérique
        df_pivot[c] = df_pivot[c].fillna(0) * 1_000_000  # Remplacer NaN par 0 avant la multiplication
    else:
        print(f"Avertissement : La colonne '{c}' n'est pas numérique et n'a pas été convertie.")

In [31]:
Colonne_garder=['Zone','Disponibilité intérieure', 'Exportations - Quantité', 'Importations - Quantité', 'Nourriture', 'Production']
df_aide_alimnet=df_pivot[Colonne_garder]
df_aide_alimnet.head()

Élément,Zone,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production
0,Afghanistan,5.700000e+07,0.0,29000000.0,5.500000e+07,2.800000e+07
1,Afrique du Sud,2.118000e+09,63000000.0,514000000.0,2.035000e+09,1.667000e+09
2,Albanie,4.700000e+07,0.0,38000000.0,4.700000e+07,1.300000e+07
3,Algérie,2.770000e+08,0.0,2000000.0,2.640000e+08,2.750000e+08
4,Allemagne,1.739000e+09,646000000.0,842000000.0,1.609000e+09,1.514000e+09

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.3.3 - Nettoyage du fichier Population</h3>
</div>

In [34]:
Population = Population[Population['Année'].isin([2017,2018])]
Population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
17,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,36296.113,X,Sources internationales sûres,NaN
18,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2018,2018,1000 personnes,37171.921,X,Sources internationales sûres,NaN
36,OA,Séries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,57009.756,X,Sources internationales sûres,NaN
37,OA,Séries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2018,2018,1000 personnes,57792.518,X,Sources internationales sûres,NaN
55,OA,Séries temporelles annuelles,3,Albanie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,2884.169,X,Sources internationales sûres,NaN

In [36]:
Population['Année'].unique()

array([2017, 2018], dtype=int64)

In [38]:
df_pivot_pop = Population.pivot(index=['Zone'], columns=['Année'], values='Valeur').fillna(0).reset_index()

# Calcul de la variation de population entre 2017 et 2018
df_pivot_pop['Variation_population'] = round((df_pivot_pop[2018] - df_pivot_pop[2017]) / df_pivot_pop[2017] * 100, 2)

# Suppression des colonnes 2017 et 2018
df_pivot_pop.drop(columns=[2017, 2018], inplace=True)
df_pivot_pop

Année                       Zone  Variation_population
0                    Afghanistan                  2.41
1                 Afrique du Sud                  1.37
2                        Albanie                 -0.05
3                        Algérie                  2.03
4                      Allemagne                  0.56
..                           ...                   ...
231                 Îles Salomon                  2.64
232      Îles Turques-et-Caïques                  1.48
233     Îles Vierges américaines                 -0.07
234    Îles Vierges britanniques                  0.76
235        Îles Wallis-et-Futuna                 -2.01

[236 rows x 2 columns]

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.3.4 - Nettoyage du fichier PIB</h3>
</div>

In [41]:
df_pib2017=pib[pib['Année']==2017]
colonnes_garderpib=['Zone','Valeur']
pib_2017 = df_pib2017[colonnes_garderpib]
pib_2017.rename(columns={"Valeur": "PIB"}, inplace=True)

C:\Users\mariam.sissoko01\AppData\Local\Temp\ipykernel_1356\2801530694.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pib_2017.rename(columns={"Valeur": "PIB"}, inplace=True)

In [43]:
pib_2017

                Zone      PIB
15       Afghanistan   2956.8
37    Afrique du Sud  14823.6
60           Albanie  14229.3
83           Algérie  13805.4
106        Allemagne  61563.6
...              ...      ...
4232         Uruguay  29662.1
4255         Vanuatu   3344.9
4278        Viet Nam  10405.4
4301          Zambie   3642.4
4324        Zimbabwe   3611.8

[190 rows x 2 columns]

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2 - Jointure des fichiers </h3>
</div>

In [46]:
# Fusion des DataFrames
df_final = df_pivot_pop.merge(df_aide_alimnet, on= "Zone", how="left")\
    .merge(aide_alim, on= "Zone", how="left")\
    .merge(pib_2017, on= "Zone", how="left")
df_final.head()

,Zone,Variation_population,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,Année,Produit,Aide alimentaire,PIB
0,Afghanistan,2.41,5.700000e+07,0.0,29000000.0,5.500000e+07,2.800000e+07,NaN,NaN,NaN,2956.8
1,Afrique du Sud,1.37,2.118000e+09,63000000.0,514000000.0,2.035000e+09,1.667000e+09,NaN,NaN,NaN,14823.6
2,Albanie,-0.05,4.700000e+07,0.0,38000000.0,4.700000e+07,1.300000e+07,NaN,NaN,NaN,14229.3
3,Algérie,2.03,2.770000e+08,0.0,2000000.0,2.640000e+08,2.750000e+08,16128.0,"CéréalesCéréales SecondairesFruits secs, total...",9476.0,13805.4
4,Allemagne,0.56,1.739000e+09,646000000.0,842000000.0,1.609000e+09,1.514000e+09,NaN,NaN,NaN,61563.6

In [48]:
df_final['Produit'].unique()

array([nan,
       'CéréalesCéréales SecondairesFruits secs, totalLégumineuses Sèches,Tot.Mélanges et préparationsNon-céréalesRiz, totalSucre, total',
       'Huiles végétalesNon-céréales', 'Fruits secs, totalNon-céréales',
       'CéréalesLégumineuses Sèches,Tot.Non-céréalesRiz, total',
       'CéréalesHuiles végétalesNon-céréalesRiz, total',
       'CéréalesRiz, total', 'Légumineuses Sèches,Tot.Non-céréales',
       'CéréalesLégumineuses Sèches,Tot.Mélanges et préparationsNon-céréales',
       'Autres non-céréalesBulgurFarEntCéréalesHuiles végétalesLégumineuses Sèches,Tot.Mélanges et préparationsNon-céréales',
       'CéréalesFruits secs, totalHuiles végétalesLégumineuses Sèches,Tot.Mélanges et préparationsNon-céréalesRiz, total',
       'Légumineuses Sèches,Tot.Non-céréalesSucre, total',
       'Autres non-céréalesNon-céréales',
       'CéréalesFruits secs, totalNon-céréalesRiz, total',
       'CéréalesFruits secs, totalMélanges et préparationsNon-céréalesRiz, total',
       'Autres non-céréalesCéréalesHuiles végétalesLégumineuses Sèches,Tot.Mélanges et préparationsNon-céréalesRiz, total',
       'CéréalesHuiles végétalesMélanges et préparationsNon-céréalesRiz, total',
       'Blé et FarinBulgurFarEntCéréalesLégumineuses Sèches,Tot.Non-céréalesRiz, totalSucre, total',
       'Autres non-céréalesCéréalesMélanges et préparationsNon-céréales',
       'Lait, totalNon-céréalesSucre, total',
       'Autres non-céréalesBlé et FarinCéréalesFruits secs, totalHuiles végétalesLégumineuses Sèches,Tot.Mélanges et préparationsNon-céréalesPoiss&produiSucre, total'],
      dtype=object)

In [50]:
#Remplacement des valeurs manquantes par 0
df_final.fillna(0, inplace=True)
df_final

,Zone,Variation_population,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,Année,Produit,Aide alimentaire,PIB
0,Afghanistan,2.41,5.700000e+07,0.0,29000000.0,5.500000e+07,2.800000e+07,0.0,0,0.0,2956.8
1,Afrique du Sud,1.37,2.118000e+09,63000000.0,514000000.0,2.035000e+09,1.667000e+09,0.0,0,0.0,14823.6
2,Albanie,-0.05,4.700000e+07,0.0,38000000.0,4.700000e+07,1.300000e+07,0.0,0,0.0,14229.3
3,Algérie,2.03,2.770000e+08,0.0,2000000.0,2.640000e+08,2.750000e+08,16128.0,"CéréalesCéréales SecondairesFruits secs, total...",9476.0,13805.4
4,Allemagne,0.56,1.739000e+09,646000000.0,842000000.0,1.609000e+09,1.514000e+09,0.0,0,0.0,61563.6
...,...,...,...,...,...,...,...,...,...,...,...
231,Îles Salomon,2.64,3.000000e+06,0.0,6000000.0,3.000000e+06,0.000000e+00,0.0,0,0.0,2896.7
232,Îles Turques-et-Caïques,1.48,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0,0.0,0.0
233,Îles Vierges américaines,-0.07,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0,0.0,0.0
234,Îles Vierges britanniques,0.76,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0,0.0,0.0
235,Îles Wallis-et-Futuna,-2.01,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0,0.0,0.0

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3 - Export du fichier global  </h3>
</div>

In [66]:
Colonnes_agarderfinal=['Zone','Variation_population', 'Disponibilité intérieure', 'Exportations - Quantité', 'Importations - Quantité', 'Nourriture','Production','Aide alimentaire','PIB']
df_final=df_final[Colonnes_agarderfinal]
df_final.head()

,Zone,Variation_population,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,Aide alimentaire,PIB
0,Afghanistan,2.41,5.700000e+07,0.0,29000000.0,5.500000e+07,2.800000e+07,0.0,2956.8
1,Afrique du Sud,1.37,2.118000e+09,63000000.0,514000000.0,2.035000e+09,1.667000e+09,0.0,14823.6
2,Albanie,-0.05,4.700000e+07,0.0,38000000.0,4.700000e+07,1.300000e+07,0.0,14229.3
3,Algérie,2.03,2.770000e+08,0.0,2000000.0,2.640000e+08,2.750000e+08,9476.0,13805.4
4,Allemagne,0.56,1.739000e+09,646000000.0,842000000.0,1.609000e+09,1.514000e+09,0.0,61563.6

In [68]:
# Exporter vers un fichier Excel
fichier_global = "export_df_final.xlsx"
# Exporter vers Excel
df_final.to_excel(fichier_global, index=False)
print(f"Fichier Excel enregistré sous : {fichier_global}")

Fichier Excel enregistré sous : export_df_final.xlsx